{{#each users}}
    <div class="userbox" data-id="{{_id}}">
        <div><a href="#" class="chirp-author">{{username}}</a></div>

        <div class="user-details">
            <span>{{followers}} followers</span>
        </div>
    </div>
{{/each}}