{{#each products}}
    <tr data-id="{{_id}}">
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td><button class="purchaseBtn">Purchase</button></td>
    </tr>
{{/each}}