<header>
    <h1>Hello Sammy</h1>
    <a href="#/index.html">Home</a>
    <a href="#/about">About</a>
    <a href="#/contact">Contact</a>
    <a href="#/book/22">Get book by ID</a>
    <a href="#/login">Login</a>
    <a href="#/hello/Kiril">Say hello</a>
</header>